@import "../../styles/variables/__variables";

.browse {
  font-size: $font-size-h5;
  font-family: $open-sans;
  color: $secondary-250;
  background-color: white;
  border: solid 2px $secondary-200;
  border-radius: 24px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;
}

.dropdownButton {
  background-color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $secondary-200;

    border-color: white;
  }

  h5 {
    color: $secondary-250;
    font-weight: 500;
    &:hover {
      color: $neutral-50;
    }
  }
}
