.section {
	padding: 20px;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 8px;

		border: 2px solid #e4e4e4;
		margin-top: -2px;
		padding: 10px;

		background-color: #fcfcfc;

		h3 {
			margin: 0;
		}

		&__title {
			color: black;
			font-weight: 600;
			font-size: 22px;
		}
	}
}
