.layout {
  display: flex;
  flex-direction: row;
}

.content {
  overflow: scroll;
  height: 100vh;

  width: 100%;
  padding: 20px;
}

.sidebar {
  padding: 10px;
  height: 100vh;
  width: 20vw;

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__user {
    position: absolute;
    bottom: 20px;
  }
}
