.formContainer {
  max-width: 40rem;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
}
