.buttonSmall {
  font-size: $font-size-h5;
  font-family: $open-sans;
  color: $secondary-250;
  background-color: white;
  border: solid 2px $secondary-250;
  border-radius: 24px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $primary-150;
    color: $neutral-50;
    border-color: white;
  }
}
