@import "./variables/__variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  font-family: $open-sans;
}

body {
  color: $neutral-500;
}

a {
  color: $primary-250;
  text-decoration: none;
  // transition: 0.3s ease-in-out;

  &:hover,
  &:active {
    color: $secondary-250;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $open-sans;
  color: $neutral-500;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  font-size: $font-size-p;
}
