:root {
  --easing-standard: cubic-bezier(0.5, 1, 0.89, 1);

  //--primary-color: #1c1c1c;
  --primary-color: #283255;
  //--contrast-color: #f3f3f3;
  --contrast-color: #ebecf0;
  --contrast-color-dark: #aaa;
  --secondary-color: purple;
  --dark-color: #1c1c1c;
  --link-color: #1d7dda;
  --link-color-visited: #79b7f3;
  --warning-color: #eadf94;
  --success-color: #cde4be;
  --error-color: #fbc9c9;

  // Dark mode values in Layout
}

@import "./normalize.scss";
@import "./skeleton.scss";

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--dark-mode-dark, var(--contrast-color));
  color: var(--dark-mode-light, var(--primary-color));
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-break: break-word;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
  }
}

a:not(.no-decoration) {
  color: inherit;
  text-decoration: none;
  color: var(--link-color);

  &:visited {
    color: var(--link-color-visited);
  }
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

i {
  font-style: normal;
  display: inline-block;
  margin-right: 0.5rem;

  &[class^="circle"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #ccc;
    transform: translateY(2px);
  }

  &.circle {
    &-green {
      background: SeaGreen;
    }

    &-yellow {
      background: gold;
    }

    &-red {
      background: FireBrick;
    }

    &-blue {
      background: DodgerBlue;
    }
  }
}

.card {
  //border: 1px solid var(--primary-color);
  //box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff; // Wei added
  box-shadow: inset 2px 2px 5px #babecc, inset -2px -2px 5px #fff;
  box-sizing: boxer-box;
  border-radius: 10px; // it was 4px
  list-style: none;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .title {
    margin: 0;
    color: var(--contrast-color);
    background: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
      margin: 0;
    }

    i {
      cursor: pointer;
    }

    // An ul can be added on the column on the
    // right to display a menu
    ul:last-child {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      >li {
        margin: 0;
        margin-left: 2rem;
      }
    }

    a {
      color: var(--contrast-color) !important;
    }
  }

  >.content {
    margin: 0;
    padding: 2rem;
    color: var(--dark-mode-light, var(--primary-color)) !important;
    overflow: hidden;

    .button {
      //color: var(--dark-mode-light, var(--primary-color)) !important;
      background: var(--dark-mode-dark);
      color: var(--dark-mode-lighter); 
    }

    h5 {
      border-bottom: 1px solid var(--primary-color);
    }

    ul {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;

      ul {
        margin-bottom: 0.5rem;
      }

      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    @media (min-width: 768px) {
      padding: 3rem;
    }

    @media (min-width: 1024px) {
      padding: 4rem;
    }
  }

  

  .item {
    list-style: none;
    padding: 2rem 0;
    border-bottom: 1px solid var(--dark-mode-dark, #e5e5e5);
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
    box-shadow: -5px 0 0 0 transparent;
    border-radius: 0;
    transition: box-shadow 0.1s ease-out;
    align-items: center;

    &:last-child {
      border-bottom: 0;
    }

    @media (min-width: 768px) {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 3rem;
        left: 0;
        transform: translateX(calc(-100% - 1rem)) scale(0);
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: #aaa;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        &:before {
          transform: translateX(calc(-100% - 1rem)) scale(1);
        }
      }
    }
  }
}

.grid-2-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  width: 100%;

  >* {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    column-gap: 6rem;

    >* {
      margin-bottom: 0;
    }
  }
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  width: 100%;

  >* {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    column-gap: 6rem;

    >* {
      margin-bottom: 0;
    }
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  width: 100%;

  >*:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;

    >* {
      margin-bottom: 0;
    }
  }
}

.grid-3 {
  >* {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;

    >* {
      margin-bottom: 0;
    }
  }
}

// Simple MDE
.editor-toolbar a:before {
  color: var(--dark-mode-light, var(--primary-color));
}

.CodeMirror {
  background-color: var(--dark-mode-lighter, var(--contrast-color)) !important;
}

.alert{
  background-color: red;
}