.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #0070f3;
}

.container {
  padding-top: 3rem;
}

.subtitle {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.title,
.subtitle {
  text-align: center;
}
