@import "../../styles/variables/__variables";

.header {
  height: 50%;
  display: flex;

  .title,
  h3 {
    color: $primary-200;
  }

  .title {
    font-size: $font-size-display-lg;
    text-align: left;
  }

  .subtitle {
    color: $secondary-250;
    font-weight: bold;
  }

  h3 {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  h4 {
    line-height: 2rem;
    padding-bottom: 1rem;
    font-weight: normal;
    padding-bottom: 2rem;
  }
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  width: 100%;

  > * {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    column-gap: 6rem;

    > * {
      margin-bottom: 0;
    }
  }
}

.buttonSmall {
  float: right;
}
.arrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;

  &:hover {
    cursor: pointer;
  }
}
