@import "../../styles/variables/__variables";

.grid {
  align-items: center;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  width: 100%;

  > * {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    column-gap: 6rem;

    > * {
      margin-bottom: 0;
    }
  }
}

.header {
  height: 40vh;
  display: flex;

  .title,
  h3 {
    color: $primary-250;
  }

  .title {
    font-size: $font-size-display-lg;
    text-align: left;
  }

  .subtitle {
    font-size: $font-size-display-sm;
    color: $secondary-250;
    font-weight: bold;
  }

  h3 {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  p {
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}

.BtnSm {
  font-size: $font-size-h5;
  font-family: $open-sans;
  color: $secondary-250;
  background-color: white; /* Green */
  border: solid 2px $secondary-250;
  border-radius: 24px;
  padding: 5px 30px;
  cursor: pointer;
  float: right;
  text-decoration: none;

  &:hover {
    color: $primary-250;
    border-color: $primary-250;
  }
}

.arrow {
  display: grid;
  place-items: center;
  padding-top: 5rem;
}
